/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Hahmlet:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: black;
}

p, h1, h2, h3 {
  font-family: sans-serif;
}

.App {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Header Bar */
.header {
  background-color: #7C4B2C;
  height: 50px;
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header h1 {
  color: #E3CE97;
  font-size: 3.75em;
  font-weight: 400;
  text-align: center;
  font-family: 'Abril Fatface', sans-serif;
  letter-spacing: .1rem;
  word-spacing: .5rem;
  text-shadow: 1px 1px 10px rgba(0,0,0,.7);
}

/* Main Container  */
.mainBody {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 960px;
  box-shadow: 0px 1px 10px rgba(0,0,0,.7);
}

/* year/set divs */
.yearDiv, .setDiv {
  background-color: #E19443;
  border-top: 1px solid #74ABAE;
  border-bottom: 1px solid #74ABAE;
  margin: 0;
  width: 100%;
}

.yearDiv {
  border-left: 1px solid #74ABAE;
  max-width: 100%;
}

.yearDiv h1 {
  color: #F7F8F8;
  font-family: 'Hahmlet', serif;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 1px 1px 10px rgba(0,0,0,.7);
}

.setDiv {
  max-width: 100%;
  box-sizing: border-box;
  background-color: #E3CE97;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 10px solid #7C4B2C;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
  padding-top: 10px;
  padding-bottom: 10px;

}

.setDiv:hover {
  border-left: 10px solid #74ABAE;
  background-color: #ffffff;
}

.setDiv img {
  max-width: 20%;
  margin-left: auto;
  margin-right: 50px;
  border: 2px solid #7C4B2C;
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}

.setDiv h1 {
  margin-left: 50px;
  font-family: 'Hahmlet', serif;
  font-size: 2em;
  font-weight: 700;
}

/* set Modal */
.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.setModal, .contactModal {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  max-width: 960px;
  height: 90%;
  overflow-y: auto;
  background-color: #F7F8F8;
  top: 30px;
  border: 2px solid black;
  box-shadow: 2px 2px 20px #E3CE97;
}

.modalContent {
  white-space: pre-wrap;
  margin: 5% 20%;
}

#close, #closeForm {
  color: white;
  font-size: 48px;
  font-weight: bold;
  z-index: 24;
  position: absolute;
  right: 0;
  background-color: rgb(207, 91, 91);
  cursor: pointer;
}

#close:hover, #closeForm:hover {
  color: red;
  background-color: white;
}

.modalHeader, .formHeader {
  margin-bottom: 25px;
  background-color: #7C4B2C;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #E19443;
}

.modalHeader h1, .formHeader h1 {
  font-family: 'Abril Fatface', sans-serif;
  color: #F7F8F8;
  font-size: 3em;
  letter-spacing: .07em;
  text-shadow: 1px 1px 10px rgba(0,0,0,.7);
  font-weight: 200;
}

.modalImg {
  max-height: 50%; 
  max-width: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}

/* Form */
#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  width: 60%;
}

#contactForm div {
  display: block;
  width: 100%;
  padding: 15px;
}

#contactForm label {
  display: block;
  width: 100%;
  font-size: 2em;
}

#contactForm button {
  padding: 5px;
  font-size: 1.5em;
  background-color: #E19443;
}

#contactForm input {
  min-height: 25px;
}

#contactForm input, textarea {
  padding: 8px;
  max-width: 90%;
}

/* Footer */
.footer {
  position: fixed;
  background-color: #7C4B2C;
  bottom: 0;
  width: 100%;
}

.innerFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.footer p {
  color: #E3CE97;
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Abril Fatface', sans-serif;
  text-decoration: none;
  text-shadow: 1px 1px 10px rgba(0,0,0,.7);
  letter-spacing: .07em;
}

#contact p {
  cursor: pointer;
}

#contact p:hover {
  color:#74ABAE;
}

/* dbAdmin */
.admin {
  background-color: #E3CE97;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#dbButtonDiv {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  max-height: 50px;
}

#dbButtonDiv button {
  margin: 15px;
  height: 30px;
  max-height: 30px;
  width: 100px;
  max-width: 100px;
}

#formDiv {
  margin: 20px auto;
  width: 100%;
  display: flex;
}

#formDiv button {
  font-size: 2em;
  margin-top: 10px
}

#formDiv form {
  margin: 0 auto;
  margin-bottom: 0;
}

.admin label, .admin input {
  display: block;
}

#formDiv textarea {
  display: block;
}

#infoDiv {
  background-color: #E3CE97
}

/* Media Queries */
@media screen and (max-width: 1080px) {
  .header h1 {
    font-size: 2.75em;
  }

  .mainBody {
    width: 80%;
  }

  .setModal, .contactModal {
    width: 80%;
  }

  .modalHeader h1, .contactModal h1 {
    text-align: center;
    font-size: 2em;
  }

  #contactForm textarea {
    width: 90%;
  }

  .innerFooter {
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 600px) {

  .header h1 {
    font-size: 1.75em;
  }

  .yearDiv h1 {
    font-size: 1.75em;
  }

  .setDiv {
    flex-direction: column-reverse;
  }

  .setDiv img {
    margin: 0 auto;
  }

  .setDiv h1 {
    text-align: center;
    margin: 0;
    font-size: 1.75em;
  }

  #close, #closeForm {
    font-size: 32px;
  }

  .innerFooter p, div {
    margin: 0
  }

  .innerFooter p {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .modalContent {
    margin: 5%;
  }
}